name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Setup devShell
        run: nix develop --no-pure-eval

      - run: |
         gleam test --target javascript --runtime node
         gleam test --target javascript --runtime deno
         gleam test --target javascript --runtime bun

